body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    margin: 20px
}
#sorting label{
    display : inline;
    padding-right : 4px;
   }
#sorting select{
    margin-top : 4px;
   }
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 1em 0;
    padding: 0;
}
table{
    display: none;
    margin: 20px;
}